@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap");

@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");

body {
  background-color: #f8f5f1;
  font-family: 'Lora', serif;
  font-size: 18px;
  margine: 0px;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h3 {
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 12px;
}

h4 {
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 18px;
}

a{
  text-decoration: none;

}
